* {
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
min-height: 100vh;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 400;
font-style: normal;
line-height: 1.6;
color:rgb(126, 130, 214);
background-color: rgb(245, 245, 238);
}

header {
padding: 50px;
text-align: center;
background-color: rgb(135, 140, 241);
}

footer {
padding: 20px;
justify-content: space-beetween;
background-color: rgb(135, 140, 241);
display: flex;
background-size: cover;
align-items: center;
padding: 20px;
font-size: 20px;
color: rgb(118, 118, 122);
}

.container {
display: flex;
justify-content: center;
}

h1 {
font-size: 28px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 5px;
color: rgb(125, 125, 206);
}

main {
padding: 0 40px;
}

.main-container {
max-width: 1440px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
padding: 5px 40px;
}

.section {
width: 50%;
gap: 10px;
}

.section-title {
font-size: 20px;
font-weight: 800;
line-height: 1.1;
text-transform: uppercase;
letter-spacing: 3px;
color: rgb(7, 7, 35);
}

.section-item a {
color: rgb(213, 226, 246);
text-decoration: none;
transition: color 0.5s;
}
.section-item a:hover {
color: rgb(8, 27, 176);;
}

.nav-list {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none; 
}

.nav-link {
text-decoration: none;
color: rgb(7, 7, 35);
transition: color 0.5s;
padding: 0 20px;
line-height: 50px;
transition: 0.3s;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 90%;
font-weight: 500;
position: center;
}

.link:hover {
  color: rgb(118, 23, 116);;
}

.nav-item {
color: rgb(21, 21, 40);
}

@media (max-width: 768px) {
  .section {
width: 100%;
}
}

.github-icon {
  margin-right: 50px;
}


.my-github {
display: flex;
align-items: center;
color: rgb(21, 21, 40);
letter-spacing: 1px;
font-size: 90%;
font-weight: 500;
}

